{
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "import",
    "react",
    "react-hooks",
    "prettier"
  ],
  "rules": {
    "arrow-parens": [
      "off",
      "always"
    ],
    "jsx-a11y/label-has-associated-control": ["off", "always"],
    "react/jsx-filename-extension": [
      "warn", { 
        "extensions": [ ".js", ".jsx"] 
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-unused-vars": "warn",
    "no-console": "off",
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "warn",
    "prettier/prettier": [
      "error",
      {
        "arrowParens": "avoid",
        "singleQuote": true,
        "semi": true,
        "bracketSpacing": true,
        "useTabs": false,
        "jsxSingleQuote": false,
        "quoteProps": "as-needed",
        "tabWidth": 2,
        "trailingComma": "all",
        "printWidth": 80,
        "endOfLine": "auto"
      }
    ]
  },
  "ignorePatterns": [
    "node_modules/"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "src/"
        ]
      }
    }
  }
}